# Ignore OS X files
.DS_Store

# Ignore vim/emacs swap files
*~
.*.swp

# Ignore python cache stuff
*.pyc
*/__pycache__/*


# Ignore the setuptools build directories
/build
*.egg-info
.coverage
coverage*
